/*<!-----------------TOPO-----------------!>*/


.topo {
    width: 100%;
    height: 125px;
    background-color: lightblue;
}

.topo .logo img{
	width: 150px;
	padding: 4px 0;
}
.topo .menu-principal {
	width: 99%;
	font-family: 'montserrat-bold',sans-serif;
	/*float: left;*/
}

.barra-topo {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	color: #333;
	width: 100%;
	height: 45px;
}

.menu-principal ul li, .menu-principal ul ul a {
	color: #fff;
}

.topo .menu-principal ul li ul li {
	background-color: #0077b5; 
	border-bottom: 1px solid;
	border-color: #0c84c3; 
	text-transform: none;
}

.menu-principal ul li ul li:hover, .menu-principal ul ul a:hover {
	background-color: #333;
	-webkit-transition: width .15s cubic-bezier(0.680, 0, 0.265, 1);
	transition: width .15s cubic-bezier(0.680, 0, 0.265, 1);
}

.menu-barra{
	float: right;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.menu-barra a{
	color: #333;
}
.menu-barra a:hover{
	color: #0077b5;	
}
.menu-barra ul{
	display: table;
}
.menu-barra ul li{
	display: inline-table;
	padding: 18px 15px;
}

.contato-topo {
	float: left;
	margin: 7px 0 0;
	padding: 0 25px 0 0;
	text-align: left;
}
.contato-topo .telefone-topo {
	color: #777;
	font-size: 18px;
}

.contato-topo .telefone-topo strong img {
	padding-left: 5px;
}
.contato-topo .telefone-topo a {
	color: #0077b5;
	text-decoration: none;
}
.contato-topo .telefone-topo a:hover {
	color: #999;
}

/*<!-----------------BANNER-----------------!>*/


.container {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }

    .slider__wrapper {
      overflow: hidden;
    }

    .slider__item {
      flex: 0 0 25%;
      max-width: 25%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255,255,255, 0.8);
      font-size: 7rem;
    }

    .slider__item:nth-child(1) {
      background-color: #f44336;
    }

    .slider__item:nth-child(2) {
      background-color: #9c27b0;
    }

    .slider__item:nth-child(3) {
      background-color: #3f51b5;
    }

    .slider__item:nth-child(4) {
      background-color: #03a9f4;
    }

    .slider__item:nth-child(5) {
      background-color: #4caf50;
    }


.slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.slider__wrapper {
  /*overflow: hidden;*/
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
}

/* кнопки влево и вправо */

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
}

.slider__control_hide {
  display: none;
}

.slider__control[data-slide='prev'] {
  left: 0;
}

.slider__control[data-slide='next'] {
  right: 0;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control[data-slide='prev']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control[data-slide='next']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* Slider */
 .slick-loading .slick-list {
    background: #fff url('imagens-midia/m/loading.gif') center center no-repeat;
}
/* Icons */
 @font-face {
    font-family:'slick';
    font-weight: normal;
    font-style: normal;
    src: url('fonts-midia/slick.eot');
    src: url('fonts-midia/slick.eot?#iefix') format('embedded-opentype'), url('fonts-midia/slick.woff') format('woff'), url('fonts-midia/slick.ttf') format('truetype'), url('fonts-midia/slick.svg#slick') format('svg');
}
/* Arrows */
 .slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .25;
}
.slick-prev:before, .slick-next:before {
    font-family:'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
}
.slick-prev {
    left: 4px;
}
[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}
.slick-prev:before {
    content:'←';
}
[dir='rtl'] .slick-prev:before {
    content:'→';
}
.slick-next {
    right: 10px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}
.slick-next:before {
    content:'→';
}
[dir='rtl'] .slick-next:before {
    content:'←';
}
/* Dots */
 .slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover, .slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family:'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content:'•';
    text-align: center;
    opacity: .25;
    color: black;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
/* Slider */
 .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before, .slick-track:after {
    display: table;
    content:'';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    display: none;
    float: left;
    max-height: 675px;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
    width: 100%;
}
.produtos-relacionados .slick-slide h4 {
    text-align: center;
}
.produtos-relacionados .slick-slide img {
    display: block;
    width: 98%;
    height: auto;
}
.produtos-relacionados .slick-slide {
    padding: 10px;
    box-sizing: border-box;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

@media(max-width: 840px){
    .slider{
      display: none;
    }
  }

/*<!-----------------MENU-----------------!>*/


.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.menu-principal {
	padding: 0 15px;
	margin-top: 15px;
	line-height: 50px;
	width: auto;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 14px;
	text-align: right;
	letter-spacing: 0.07em;
	font-weight: bold;
}
.menu-principal a {
	color: #aaa;
	padding: 0 10px;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.menu-principal a:hover {
	color: #1250d2;
}
.menu-principal ul {
	list-style: none;
}
.menu-principal ul li {
	display: inline-block;
	position: relative;
}
/*----- Sub Menu -----*/
.menu-principal ul ul {
	max-width: 800px;
	min-width: 550px;
	/* Tamanho do Sub Menu */
	right: 0;
	font-size: 14px;
	position: absolute;
	display: none;
	line-height: normal;
	padding-top: 10px;
}
.menu-principal ul li, .menu-principal ul ul a {
	color: #999;
	/*-- reset --*/
	text-align: left;
	padding: 0;
	margin: 0;
}
.menu-principal ul ul a {
	display: block;
	color: #fff;
}
.menu-principal ul li:hover, .menu-principal ul ul a:hover {
	color: #1250d2;
}
.menu-principal ul ul ul {
	left: 100%;
	top: 0;
}
.menu-principal ul li ul li {	
	padding: 5px;
	background: #fafafa;
	border-bottom: 1px solid #fff;
	min-width: 273px;
	display: inline-block;
}
.menu-principal ul li:hover > ul {
	display: block;
	height: auto;
	z-index: 999;
}


object{
    width: 100%;
}

  /*--------------------------------------------------------------
- Rodapé Alternativo
--------------------------------------------------------------*/
footer {
	background-color: #222;
}
footer .base {
	max-width: 1080px;
}
.rodape {
	color: #fff;
	font-size: 12px;
	padding: 35px 0px;
}
.menu-rodape {
	font-family: 'montserrat-regular';
	font-size: 0.9rem;
	float: none;
	margin: 0 auto;
	text-align: center;
}
.menu-rodape li {
	display: inline-block;
	border-right: 1px solid #999;
	padding: 0px 10px 0 5px;
	margin: 8px 3px;
}
.menu-rodape li a {
	color: #fafafa;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.menu-rodape li a:hover {
	color: #00aced;
}
.menu-rodape li:last-child {
	border-right: none;
	padding-right: 0;
}
.telefone-rodape {
	float: left;
	font-size: 16px;
	padding: 0px 0 16px;
	letter-spacing: 1.2px;
}
.telefone-rodape img {
	padding-left: 5px;
}
.telefone-rodape a {
	/*Link aparece apenas no mobile*/
	color: #0084b4;
	text-decoration: none;
}
.telefone-rodape a:hover {
	color: #666;
}
.direitos-autorais-rodape {
	color: #777;
	font-size: 10px;
	text-align: center;
	padding: 40px 0;
	background-color: #333;
}
.ajuste-base-direitos {
	max-width: 1040px;
	margin: 0 auto;
}
.direito-1{
	text-align: left;
}
.direito-2{
	text-align: right;
	line-height: 1.5em;
}
.menu-rodape ul li ul {
	display: none;
}
/*COLUNAS RODAPE*/ /*ESTA PARTE REFERE AO RODAPE COM COLUNAS*/
.flex{
	display: flex;
	max-width: 1280px;
}
.flex > div{
	flex: 1 1;
}
.col-rodape-1 , .col-rodape-2,
.col-rodape-3, .col-rodape-4 {
	color: #777;
	padding: 20px;
}
.col-rodape-1 i, .col-rodape-2 i,
.col-rodape-3 i{
	color: #999;
}
.col-rodape-3 span{
	letter-spacing: 0.04em;
}
.col-rodape-3 .numero{
	padding: 6px 0px;
}
.col-rodape-4 i {
	color: #999;
	font-size: 16px;
	vertical-align: text-bottom;
}
.col-rodape-4 .endereco-rodape {
	line-height: 1.5em;
	text-align: justify;
}
.col-rodape-4 .icones-validacao, .col-rodape-4 .redes-sociais-rodape {
	padding-top: 20px;
}
.rodape h3{
	letter-spacing: 0.04em;
	color: #ccc;
	padding: 6px 15px;
	margin-bottom: 28px;
	border-left: 3px solid #0077b5; 
	
}
.col-rodape-1 img {
	width: 180px;
	padding: 0 0 20px;
}
.col-rodape-1 p, .col-rodape-2 p
.col-rodape-3 p, .col-rodape-4 p{
	margin-bottom: 30px;
	padding: 10px 5px;
	color: #777;
	letter-spacing: 0.04em;
	font-size: 13px;
}
.col-rodape-2 .menu-rodape {
	border-right: 0;
	clear: right;
	text-align: left;
	font-size: 12px;
}
.col-rodape-2 .menu-rodape a{
	color: #777;
}
.col-rodape-2 .menu-rodape a:before{
	color: #aaa;
	margin-right: 5px;
	font-family: 'FontAwesome';
	content: "\f105";
	font-weight: 700;
}
.col-rodape-2 .menu-rodape li {
	display: block;
	padding: 4px 0 13px;
	border-right: none;
	border-bottom: 1px solid #333;
}
.col-rodape-3 .telefone-rodape {
	float: none;
	text-align: start;
	font-size: 14px;
	padding: 0px 0 16px;
	letter-spacing: 1.2px;
}
.col-rodape-3 h5 {
	font-weight: normal;
	margin: 0 0 10px;
}
.col-rodape-3 i{
	margin-right: 5px;
}
/* ----------------------whatsapp icone ------------------ */
.whatsapp-icon-fix{
	position: fixed;
	bottom: 80px;
	right: 18px;
	z-index: 999;
}
.whatsapp-icon-fix img{
	width: 40px;
	height: auto;
}
@font-face {
	font-family:'si';
	src: url('fonts-midia/socicon.eot');
	src: url('fonts-midia/socicon.eot?#iefix') format('embedded-opentype'), url('fonts-midia/socicon.woff') format('woff'), url('fonts-midia/socicon.ttf') format('truetype'), url('fonts-midia/socicon.svg#icomoonregular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
.redes-sociais-rodape {
	float: none;
	clear: both;
	padding: 15px 0 0 0;
	list-style: none;
	font-family: 'blank';
}
.redes-sociais-rodape li {
	margin: 3px;
	font-family: 'Times New Roman', sans-serif;
	display: inline-block;
}
.redes-sociais-rodape li a {
	font-family: si;
	text-align: center;
	display: block;
	position: relative;
	text-decoration: none;
	border-radius: 50%;
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	
	transition: all 0.2s ease 0s;
}

/* ----- RSS ----- */
.redes-sociais-rodape .icone-rss {
	background-color: #f26109;
}
.redes-sociais-rodape .icone-rss:hover {
	background-color: #ff751d;
}
.redes-sociais-rodape .icone-rss:before {
	content:',';
}
/*FIM COLUNAS RODAPE*/
@media (max-width: 780px) {
	.flex{
		display: block;
	}
	/*COLUNAS RODAPE AJUSTES*/
	.col-rodape-1, .col-rodape-2, .col-rodape-3 .col-rodape-4{
		float: none;
		display: block;
		padding: 6px;
	}
	.col-rodape-1, .col-rodape-2, .col-rodape-3, .col-rodape-4  > div{
		text-align: center;
	}
	.col-rodape-2 .menu-rodape {
		float: none;
		margin-left: 0;
	}
	.col-rodape-3 .endereco-rodape {
		font-size: 14px;
		float: none;
	}
	.col-rodape-4 .redes-sociais-rodape {
		float: none;
	}
	.col-rodape-3 .telefone-rodape{
		text-align: center;
	}
	.col-rodape-4{
		text-align: center;
	}
	.col-rodape-4 .endereco-rodape{
		text-align: center;
	}
	/*--------------------------------------------------------------
	- Rodapé
	--------------------------------------------------------------*/
	
	.icones-validacao img {
		margin: 0 7px;
	}
	.telefone-rodape div {
		margin: 15px 0 0;
	}
	.rodape {
		padding: 35px 25px;
	}
	.rodape h3 {
		margin: 28px 0 5px;
		border-left: none;
	}
	.col-rodape-2 .menu-rodape li {
		text-align: center;
		width: 280px;
		margin: 0 auto;
	}
	input[type="file"] {
		margin: 5px 9px;
	}
	
}
@media (max-width:480px) {
	.col-rodape-2 .menu-rodape li {
		width: 100%; 
	}
}

/*<!-----------------CONTEUDO\BLOCOS-----------------!>*/

.colunas-conteudo {
	display: flex;
	justify-content: center;
	padding: 60px 10px;
}
.colunas-conteudo > div{
	flex: 1 1;
}
.blocos{
	background-color: #f1f1f1;
	border-radius: 20px;
	max-width: 340px;
	min-width: 240px;
	margin: 0 8px;
	padding: 30px 0;
	text-align: center;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.blocos:hover{
	border: 3px solid #777;
	background-color: #fff;
	padding: 22px 0;
}
.blocos img{
	width: 160px;
	padding: 10px 0;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.blocos:hover img{
	width: 180px;
}