.topo {
    width: 100%;
    height: 125px;
    background-color: lightblue;
}

.topo .logo img{
	width: 150px;
	padding: 4px 0;
}
.topo .menu-principal {
	width: 99%;
	font-family: 'montserrat-bold',sans-serif;
	/*float: left;*/
}

.barra-topo {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	color: #333;
	width: 100%;
	height: 45px;
}

.menu-principal ul li, .menu-principal ul ul a {
	color: #fff;
}

.topo .menu-principal ul li ul li {
	background-color: #0077b5; /*------Azul------*/
	/*background-color: #ac0;*/ /*------Verde------*/
	/*background-color: orange;*/ /*------Laranja------*/
	/*background-color: #D33C44;*/ /*------Vermelho------*/
	border-bottom: 1px solid;
	border-color: #0c84c3; /*------Azul------*/
	/*border-color: #98b700;*/ /*------Verde------*/
	/*border-color: #e49400;*/ /*------Laranja------*/
	/*border-color: #b32c33;*/ /*------Vermelho------*/
	text-transform: none;
}

.menu-principal ul li ul li:hover, .menu-principal ul ul a:hover {
	background-color: #333;
	-webkit-transition: width .15s cubic-bezier(0.680, 0, 0.265, 1);
	transition: width .15s cubic-bezier(0.680, 0, 0.265, 1);
}

.menu-barra{
	float: right;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.menu-barra a{
	color: #333;
}
.menu-barra a:hover{
	color: #0077b5; /*------Azul------*/
	/*color: #333;*/ /*------Verde------*/
	/*color: #f9ff00;*/ /*------Laranja------*/
	/*color: #ff8686;*/ /*------Vermelho------*/
}
.menu-barra ul{
	display: table;
}
.menu-barra ul li{
	display: inline-table;
	padding: 18px 15px;
}

.contato-topo {
	float: left;
	margin: 7px 0 0;
	padding: 0 25px 0 0;
	text-align: left;
}
.contato-topo .telefone-topo {
	color: #777;
	font-size: 18px;
}

.contato-topo .telefone-topo strong img {
	padding-left: 5px;
}
.contato-topo .telefone-topo a {
	/* Link Aparece apenas no mobile */
	color: #0077b5;
	text-decoration: none;
}
.contato-topo .telefone-topo a:hover {
	color: #999;
}

<!----------------------------------------------!>

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.menu-principal {
	padding: 0 15px;
	margin-top: 15px;
	line-height: 50px;
	width: auto;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 14px;
	text-align: right;
	letter-spacing: 0.07em;
	font-weight: bold;
}
.menu-principal a {
	color: #aaa;
	padding: 0 10px;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.menu-principal a:hover {
	color: #1250d2;
}
.menu-principal ul {
	list-style: none;
}
.menu-principal ul li {
	display: inline-block;
	position: relative;
}
/*----- Sub Menu -----*/
.menu-principal ul ul {
	max-width: 800px;
	min-width: 550px;
	/* Tamanho do Sub Menu */
	right: 0;
	font-size: 14px;
	position: absolute;
	display: none;
	line-height: normal;
	padding-top: 10px;
}
.menu-principal ul li, .menu-principal ul ul a {
	color: #999;
	/*-- reset --*/
	text-align: left;
	padding: 0;
	margin: 0;
}
.menu-principal ul ul a {
	display: block;
	color: #fff;
}
.menu-principal ul li:hover, .menu-principal ul ul a:hover {
	color: #1250d2;
}
.menu-principal ul ul ul {
	left: 100%;
	top: 0;
}
.menu-principal ul li ul li {	
	/*display: block;*/
	padding: 5px;
	background: #fafafa;
	border-bottom: 1px solid #fff;
	/* ----- Menu com mais de 1 coluna ----- */
	min-width: 273px;
	/*width: 200px;*/
	display: inline-block;
}
.menu-principal ul li:hover > ul {
	display: block;
	height: auto;
	z-index: 999;
}



*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .slider {
    position: relative;
    height: 100vh;
  }
  .slider__slides {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 40px;
    height: 40px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    background: rgba(0,0,0,.3);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .slider__control--right {
    left: 95%;
  }
  .slider__control:hover {
    background-color: #2da6ff;
  }
  .slider__control-line {
    position: absolute;
    left: 16px;
    top: 50%;
    width: 3px;
    height: 10px;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(-135deg);
            transform: translateY(1px) rotate(-135deg);
  }
  .slider__control--right .slider__control-line {
    left: 23px;
    -webkit-transform-origin: 1px 0;
            transform-origin: 1px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .slider__control--right .slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(135deg);
            transform: translateY(1px) rotate(135deg);
  }
  .slider__control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .slider__control:hover .slider__control-line:after {
    background-color: #fff;
  }
  .slider__control.a--rotation .slider__control-line:after {
    -webkit-animation: arrowLineRotation 0.49s;
            animation: arrowLineRotation 0.49s;
  }
  .slider__control.a--rotation .slider__control-line:nth-child(1):after {
    -webkit-animation: arrowLineRotationRev 0.49s;
            animation: arrowLineRotationRev 0.49s;
  }
  
  @-webkit-keyframes arrowLineRotation {
    to {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  
  @keyframes arrowLineRotation {
    to {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @-webkit-keyframes arrowLineRotationRev {
    to {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
  }
  @keyframes arrowLineRotationRev {
    to {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
  }
  .slide {
    overflow: hidden;
    position: absolute;
    z-index: -88888888;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 150vmax;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 0;
    -webkit-transition: -webkit-clip-path 0s 0.91s;
    transition: -webkit-clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s, -webkit-clip-path 0s 0.91s;
    -webkit-clip-path: circle(30px at 120vw 50%);
            clip-path: circle(30px at 120vw 50%);
  }
  .slide.s--prev {
    -webkit-clip-path: circle(30px at 30vw 50%);
            clip-path: circle(30px at 30vw 50%);
  }
  .slide.s--active {
    z-index: 1;
    -webkit-transition: -webkit-clip-path 1.3s;
    transition: -webkit-clip-path 1.3s;
    transition: clip-path 1.3s;
    transition: clip-path 1.3s, -webkit-clip-path 1.3s;
    -webkit-clip-path: circle(130% at 120vw 50%);
            clip-path: circle(130% at 120vw 50%);
  }
  .slide.s--active.s--active-prev {
    -webkit-clip-path: circle(130vmax at 30vw 50%);
            clip-path: circle(130% at 30vw 50%);
  }
  .slide:nth-child(1) .slide__inner {
    background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%), url("./../imagens-midia/banner/banner.png");
  }
  .slide:nth-child(2) .slide__inner {
    background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%), url("./../imagens-midia/banner/banner-2.png");
  }
  .slide:nth-child(3) .slide__inner {
    background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%), url("./../imagens-midia/banner/banner-3.png");
  }
  
  .slide__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center;
  }
  .slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .slide__content {
    position: absolute;
    left: calc(50% - 240px);
    text-align: center;
    top: 40%;
    margin-top: 48px;
    width: 480px;
    color: #fff;
  }
  .slide__heading {
    margin-bottom: 20px;
    font-size: 60px;
  }
  .slide__text {
    font-size: 25px;
  }
  .slide__text a {
    color: inherit;
  }
  
  .button-slider{
      padding: 15px;
      margin-left: calc(50% - 90px);
      color: white;
      margin-top: 20px;
      background-color: #2583b6;
      border-radius: 10px;
      width: 180px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  .button-slider:hover{
      background-color: #2a8fc5;
      border-radius: 5px;
  }
  
  @media(max-width: 840px){
    .slider{
      display: none;
    }
  }
  