.topo {
    width: 100%;
    height: 125px;
    background-color: lightblue;
}

.topo .logo img{
	width: 150px;
	padding: 4px 0;
}
.topo .menu-principal {
	width: 99%;
	font-family: 'montserrat-bold',sans-serif;
	/*float: left;*/
}

.barra-topo {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	color: #333;
	width: 100%;
	height: 45px;
}

.menu-principal ul li, .menu-principal ul ul a {
	color: #fff;
}

.topo .menu-principal ul li ul li {
	background-color: #0077b5; /*------Azul------*/
	/*background-color: #ac0;*/ /*------Verde------*/
	/*background-color: orange;*/ /*------Laranja------*/
	/*background-color: #D33C44;*/ /*------Vermelho------*/
	border-bottom: 1px solid;
	border-color: #0c84c3; /*------Azul------*/
	/*border-color: #98b700;*/ /*------Verde------*/
	/*border-color: #e49400;*/ /*------Laranja------*/
	/*border-color: #b32c33;*/ /*------Vermelho------*/
	text-transform: none;
}

.menu-principal ul li ul li:hover, .menu-principal ul ul a:hover {
	background-color: #333;
	-webkit-transition: width .15s cubic-bezier(0.680, 0, 0.265, 1);
	transition: width .15s cubic-bezier(0.680, 0, 0.265, 1);
}

.menu-barra{
	float: right;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.menu-barra a{
	color: #333;
}
.menu-barra a:hover{
	color: #0077b5; /*------Azul------*/
	/*color: #333;*/ /*------Verde------*/
	/*color: #f9ff00;*/ /*------Laranja------*/
	/*color: #ff8686;*/ /*------Vermelho------*/
}
.menu-barra ul{
	display: table;
}
.menu-barra ul li{
	display: inline-table;
	padding: 18px 15px;
}

.contato-topo {
	float: left;
	margin: 7px 0 0;
	padding: 0 25px 0 0;
	text-align: left;
}
.contato-topo .telefone-topo {
	color: #777;
	font-size: 18px;
}

.contato-topo .telefone-topo strong img {
	padding-left: 5px;
}
.contato-topo .telefone-topo a {
	/* Link Aparece apenas no mobile */
	color: #0077b5;
	text-decoration: none;
}
.contato-topo .telefone-topo a:hover {
	color: #999;
}

<!----------------------------------------------!>

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.menu-principal {
	padding: 0 15px;
	margin-top: 15px;
	line-height: 50px;
	width: auto;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 14px;
	text-align: right;
	letter-spacing: 0.07em;
	font-weight: bold;
}
.menu-principal a {
	color: #aaa;
	padding: 0 10px;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.menu-principal a:hover {
	color: #1250d2;
}
.menu-principal ul {
	list-style: none;
}
.menu-principal ul li {
	display: inline-block;
	position: relative;
}
/*----- Sub Menu -----*/
.menu-principal ul ul {
	max-width: 800px;
	min-width: 550px;
	/* Tamanho do Sub Menu */
	right: 0;
	font-size: 14px;
	position: absolute;
	display: none;
	line-height: normal;
	padding-top: 10px;
}
.menu-principal ul li, .menu-principal ul ul a {
	color: #999;
	/*-- reset --*/
	text-align: left;
	padding: 0;
	margin: 0;
}
.menu-principal ul ul a {
	display: block;
	color: #fff;
}
.menu-principal ul li:hover, .menu-principal ul ul a:hover {
	color: #1250d2;
}
.menu-principal ul ul ul {
	left: 100%;
	top: 0;
}
.menu-principal ul li ul li {	
	/*display: block;*/
	padding: 5px;
	background: #fafafa;
	border-bottom: 1px solid #fff;
	/* ----- Menu com mais de 1 coluna ----- */
	min-width: 273px;
	/*width: 200px;*/
	display: inline-block;
}
.menu-principal ul li:hover > ul {
	display: block;
	height: auto;
	z-index: 999;
}



*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .slider {
    position: relative;
    height: 100vh;
  }
  .slider__slides {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 40px;
    height: 40px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    background: rgba(0,0,0,.3);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .slider__control--right {
    left: 95%;
  }
  .slider__control:hover {
    background-color: #2da6ff;
  }
  .slider__control-line {
    position: absolute;
    left: 16px;
    top: 50%;
    width: 3px;
    height: 10px;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(-135deg);
            transform: translateY(1px) rotate(-135deg);
  }
  .slider__control--right .slider__control-line {
    left: 23px;
    -webkit-transform-origin: 1px 0;
            transform-origin: 1px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .slider__control--right .slider__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(135deg);
            transform: translateY(1px) rotate(135deg);
  }
  .slider__control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .slider__control:hover .slider__control-line:after {
    background-color: #fff;
  }
  .slider__control.a--rotation .slider__control-line:after {
    -webkit-animation: arrowLineRotation 0.49s;
            animation: arrowLineRotation 0.49s;
  }
  .slider__control.a--rotation .slider__control-line:nth-child(1):after {
    -webkit-animation: arrowLineRotationRev 0.49s;
            animation: arrowLineRotationRev 0.49s;
  }
  
  @-webkit-keyframes arrowLineRotation {
    to {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  
  @keyframes arrowLineRotation {
    to {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @-webkit-keyframes arrowLineRotationRev {
    to {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
  }
  @keyframes arrowLineRotationRev {
    to {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
    }
  }
  .slide {
    overflow: hidden;
    position: absolute;
    z-index: -88888888;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 150vmax;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 0;
    -webkit-transition: -webkit-clip-path 0s 0.91s;
    transition: -webkit-clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s;
    transition: clip-path 0s 0.91s, -webkit-clip-path 0s 0.91s;
    -webkit-clip-path: circle(30px at 120vw 50%);
            clip-path: circle(30px at 120vw 50%);
  }
  .slide.s--prev {
    -webkit-clip-path: circle(30px at 30vw 50%);
            clip-path: circle(30px at 30vw 50%);
  }
  .slide.s--active {
    z-index: 1;
    -webkit-transition: -webkit-clip-path 1.3s;
    transition: -webkit-clip-path 1.3s;
    transition: clip-path 1.3s;
    transition: clip-path 1.3s, -webkit-clip-path 1.3s;
    -webkit-clip-path: circle(130% at 120vw 50%);
            clip-path: circle(130% at 120vw 50%);
  }
  .slide.s--active.s--active-prev {
    -webkit-clip-path: circle(130vmax at 30vw 50%);
            clip-path: circle(130% at 30vw 50%);
  }
  .slide:nth-child(1) .slide__inner {
    background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%), url("./../imagens-midia/banner/banner.png");
  }
  .slide:nth-child(2) .slide__inner {
    background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%), url("./../imagens-midia/banner/banner-2.png");
  }
  .slide:nth-child(3) .slide__inner {
    background-image: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%), url("./../imagens-midia/banner/banner-3.png");
  }
  
  .slide__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-top: -50vh;
    background-size: cover;
    background-position: center center;
  }
  .slide__inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .slide__content {
    position: absolute;
    left: calc(50% - 240px);
    text-align: center;
    top: 40%;
    margin-top: 48px;
    width: 480px;
    color: #fff;
  }
  .slide__heading {
    margin-bottom: 20px;
    font-size: 60px;
  }
  .slide__text {
    font-size: 25px;
  }
  .slide__text a {
    color: inherit;
  }
  
  .button-slider{
      padding: 15px;
      margin-left: calc(50% - 90px);
      color: white;
      margin-top: 20px;
      background-color: #2583b6;
      border-radius: 10px;
      width: 180px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
  }
  
  .button-slider:hover{
      background-color: #2a8fc5;
      border-radius: 5px;
  }
  
  @media(max-width: 840px){
    .slider{
      display: none;
    }
  }
  -----------------------------

  /*--------------------------------------------------------------
- Rodapé Alternativo
--------------------------------------------------------------*/
footer {
	background-color: #222;
}
footer .base {
	max-width: 1080px;
}
.rodape {
	color: #fff;
	font-size: 12px;
	padding: 35px 0px;
}
.menu-rodape {
	font-family: 'montserrat-regular';
	font-size: 0.9rem;
	float: none;
	margin: 0 auto;
	text-align: center;
}
.menu-rodape li {
	display: inline-block;
	border-right: 1px solid #999;
	padding: 0px 10px 0 5px;
	margin: 8px 3px;
}
.menu-rodape li a {
	color: #fafafa;
	-webkit-transition: all 300ms linear 0s;
	-o-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.menu-rodape li a:hover {
	color: #00aced;
}
.menu-rodape li:last-child {
	border-right: none;
	padding-right: 0;
}
.telefone-rodape {
	float: left;
	font-size: 16px;
	padding: 0px 0 16px;
	letter-spacing: 1.2px;
}
.telefone-rodape img {
	padding-left: 5px;
}
.telefone-rodape a {
	/*Link aparece apenas no mobile*/
	color: #0084b4;
	text-decoration: none;
}
.telefone-rodape a:hover {
	color: #666;
}
.direitos-autorais-rodape {
	color: #777;
	font-size: 10px;
	text-align: center;
	padding: 40px 0;
	background-color: #333;
}
.ajuste-base-direitos {
	max-width: 1040px;
	margin: 0 auto;
}
.direito-1{
	text-align: left;
}
.direito-2{
	text-align: right;
	line-height: 1.5em;
}
.menu-rodape ul li ul {
	display: none;
}
/*COLUNAS RODAPE*/ /*ESTA PARTE REFERE AO RODAPE COM COLUNAS*/
.flex{
	display: flex;
	max-width: 1280px;
}
.flex > div{
	flex: 1 1;
}
.col-rodape-1 , .col-rodape-2,
.col-rodape-3, .col-rodape-4 {
	color: #777;
	padding: 20px;
}
.col-rodape-1 i, .col-rodape-2 i,
.col-rodape-3 i{
	color: #999;
}
.col-rodape-3 span{
	letter-spacing: 0.04em;
}
.col-rodape-3 .numero{
	padding: 6px 0px;
}
.col-rodape-4 i {
	color: #999;
	font-size: 16px;
	vertical-align: text-bottom;
}
.col-rodape-4 .endereco-rodape {
	line-height: 1.5em;
	text-align: justify;
}
.col-rodape-4 .icones-validacao, .col-rodape-4 .redes-sociais-rodape {
	padding-top: 20px;
}
.rodape h3{
	letter-spacing: 0.04em;
	color: #ccc;
	padding: 6px 15px;
	margin-bottom: 28px;
	border-left: 3px solid #0077b5; /*------Azul------*/
	/*border-left: 3px solid #ac0;*/ /*------Verde------*/
	/*border-left: 3px solid orange;*/ /*------Laranja------*/
	/*border-left: 3px solid #D33C44;*/ /*------Vermelho------*/
}
/*.col-rodape-1 {
	text-align: center;
}*/
.col-rodape-1 img {
	width: 180px;
	padding: 0 0 20px;
}
.col-rodape-1 p, .col-rodape-2 p
.col-rodape-3 p, .col-rodape-4 p{
	margin-bottom: 30px;
	padding: 10px 5px;
	color: #777;
	letter-spacing: 0.04em;
	font-size: 13px;
}
.col-rodape-2 .menu-rodape {
	border-right: 0;
	clear: right;
	text-align: left;
	font-size: 12px;
}
.col-rodape-2 .menu-rodape a{
	color: #777;
}
.col-rodape-2 .menu-rodape a:before{
	color: #aaa;
	margin-right: 5px;
	font-family: 'FontAwesome';
	content: "\f105";
	font-weight: 700;
}
.col-rodape-2 .menu-rodape li {
	display: block;
	padding: 4px 0 13px;
	border-right: none;
	border-bottom: 1px solid #333;
}
.col-rodape-3 .telefone-rodape {
	float: none;
	text-align: start;
	font-size: 14px;
	padding: 0px 0 16px;
	letter-spacing: 1.2px;
}
.col-rodape-3 h5 {
	font-weight: normal;
	margin: 0 0 10px;
}
.col-rodape-3 i{
	margin-right: 5px;
}
/* ----------------------whatsapp icone ------------------ */
.whatsapp-icon-fix{
	position: fixed;
	bottom: 80px;
	right: 18px;
	z-index: 999;
}
.whatsapp-icon-fix img{
	width: 40px;
	height: auto;
}
@font-face {
	font-family:'si';
	src: url('fonts-midia/socicon.eot');
	src: url('fonts-midia/socicon.eot?#iefix') format('embedded-opentype'), url('fonts-midia/socicon.woff') format('woff'), url('fonts-midia/socicon.ttf') format('truetype'), url('fonts-midia/socicon.svg#icomoonregular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
.redes-sociais-rodape {
	float: none;
	clear: both;
	padding: 15px 0 0 0;
	list-style: none;
	font-family: 'blank';
}
.redes-sociais-rodape li {
	margin: 3px;
	font-family: 'Times New Roman', sans-serif;
	display: inline-block;
}
.redes-sociais-rodape li a {
	font-family: si;
	text-align: center;
	display: block;
	position: relative;
	text-decoration: none;
	border-radius: 50%;
	font-size: 14px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	/* cor dos ícones */
	transition: all 0.2s ease 0s;
}
/* .redes-sociais-rodape li a:hover {
	color: #000000;
} */
/* ----- Facebook ----- */
.redes-sociais-rodape .icone-facebook {
	background-color: #3e5b98;
}
.redes-sociais-rodape .icone-facebook:hover {
	background-color: #526fac;
}
.redes-sociais-rodape .icone-facebook:before {
	content:'b';
}
/* ----- Twitter ----- */
.redes-sociais-rodape .icone-twitter {
	background-color: #4da7de;
}
.redes-sociais-rodape .icone-twitter:hover {
	background-color: #61bbf2;
}
.redes-sociais-rodape .icone-twitter:before {
	content:'a';
}
/* ----- Google Plus ----- */
.redes-sociais-rodape .icone-google {
	background-color: #d93e2d;
}
.redes-sociais-rodape .icone-google:hover {
	background-color: #ed5241;
}
.redes-sociais-rodape .icone-google:before {
	content:'c';
}
/* ----- Linkedin ----- */
.redes-sociais-rodape .icone-linkedin {
	background-color: #3371b7;
}
.redes-sociais-rodape .icone-linkedin:hover {
	background-color: #4785cb;
}
.redes-sociais-rodape .icone-linkedin:before {
	content:'j';
}
/* ----- Youtube ----- */
.redes-sociais-rodape .icone-youtube {
	background-color: #e02a20;
}
.redes-sociais-rodape .icone-youtube:hover {
	background-color: #f43e34;
}
.redes-sociais-rodape .icone-youtube:before {
	content:'r';
}
/* ----- Pinterest ----- */
.redes-sociais-rodape .icone-pinterest {
	background-color: #c92619;
}
.redes-sociais-rodape .icone-pinterest:hover {
	background-color: #dd3a2d;
}
.redes-sociais-rodape .icone-pinterest:before {
	content:'d';
}
/* ----- RSS ----- */
.redes-sociais-rodape .icone-rss {
	background-color: #f26109;
}
.redes-sociais-rodape .icone-rss:hover {
	background-color: #ff751d;
}
.redes-sociais-rodape .icone-rss:before {
	content:',';
}
/*FIM COLUNAS RODAPE*/
@media (max-width: 780px) {
	.flex{
		display: block;
	}
	/*COLUNAS RODAPE AJUSTES*/
	.col-rodape-1, .col-rodape-2, .col-rodape-3 .col-rodape-4{
		float: none;
		display: block;
		padding: 6px;
	}
	.col-rodape-1, .col-rodape-2, .col-rodape-3, .col-rodape-4  > div{
		text-align: center;
	}
	.col-rodape-2 .menu-rodape {
		float: none;
		margin-left: 0;
	}
	.col-rodape-3 .endereco-rodape {
		font-size: 14px;
		float: none;
	}
	.col-rodape-4 .redes-sociais-rodape {
		float: none;
	}
	.col-rodape-3 .telefone-rodape{
		text-align: center;
	}
	.col-rodape-4{
		text-align: center;
	}
	.col-rodape-4 .endereco-rodape{
		text-align: center;
	}
	/*--------------------------------------------------------------
	- Rodapé
	--------------------------------------------------------------*/
	
	.icones-validacao img {
		margin: 0 7px;
	}
	.telefone-rodape div {
		margin: 15px 0 0;
	}
	.rodape {
		padding: 35px 25px;
	}
	.rodape h3 {
		margin: 28px 0 5px;
		border-left: none;
	}
	.col-rodape-2 .menu-rodape li {
		text-align: center;
		width: 280px;
		margin: 0 auto;
	}
	input[type="file"] {
		margin: 5px 9px;
	}
	
}
@media (max-width:480px) {
	.col-rodape-2 .menu-rodape li {
		width: 100%; 
	}
}